<template>
  <div class="home">
    <ImageDrop v-on:imageUpdated="setImageForEdit"/>
    <ImageEdit :picture="picture"/>
  </div>
</template>

<script>
import ImageDrop from "@/components/ImageDrop";
import ImageEdit from "@/components/ImageEdit";

export default {
    name: 'Home',

    components: {
        ImageDrop,
        ImageEdit,
    },

    data(){
        return {
            picture: undefined
        }
    },

    methods: {
        setImageForEdit(picture){
            this.picture = picture
        }
    }
}
</script>
