<template>
    <div style="border: bisque 4px dotted">
        <canvas id="canvas"
                :height="canvasHeight"
                :width="canvasWidth"
                style="border: #42b983 1px"
                @click="clickOnPicture"
        >
        </canvas>
        <div>
            <a target="_blank"
               title="Save Topo Image"
               v-if="picture"
               @click="downloadImageHref"
            >[Save topo image]</a>
            <div v-for="(hold, index) in holds"
                 v-bind:key="index"
                 v-bind:hold="hold"
                 @mouseover="highlightHold(index)"
                 @input="setHoldProperties"
                 @mouseleave="highlightNothing"
                 class="holds"
            >
                <div>
                    <span>
                        <input type="checkbox"
                               name="start"
                               :id="'start:'+index"
                               :idx="index"
                               :checked="hold.start"
                        >
                        <label :for="'start:'+index">start</label>
                    </span>
                    <span>
                        <input type="checkbox"
                               name="finish"
                               :id="'finish:'+index"
                               :idx="index"
                               :checked="hold.finish"
                        >
                        <label :for="'finish:'+index">finish</label>
                    </span>

                    <button @click="removeHold(index)">remove</button>
                </div>

                <div>
                    <span>
                        <input type="checkbox"
                               name="lefthand"
                               :id="'lefthand:'+index"
                               :idx="index"
                               :checked="hold.lefthand"
                        >
                        <label :for="'lefthand:'+index">lefthand</label>
                    </span>
                    <span>
                        <input type="checkbox"
                               name="righthand"
                               :id="'righthand:'+index"
                               :idx="index"
                               :checked="hold.righthand"
                        >
                        <label :for="'righthand:'+index">righthand</label>
                    </span>
                    <span>
                        <input type="checkbox"
                               name="leftfoot"
                               :id="'leftfoot:'+index"
                               :idx="index"
                               :checked="hold.leftfoot"
                        >
                        <label :for="'leftfoot:'+index">leftfoot</label>
                    </span>
                    <span>
                        <input type="checkbox"
                               name="rightfoot"
                               :id="'rightfoot:'+index"
                               :idx="index"
                               :checked="hold.rightfoot"
                        >
                        <label :for="'rightfoot:'+index">rightfoot</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Hold from "@/components/Hold";

export default {
    name: "ImageEdit",

    components:[
        Hold,
    ],

    props:["picture"],

    data() {
        return {
            holds: []
        }
    },

    computed: {
        canvas() {
            return document.getElementById("canvas");
        },
        context() {
            return this.canvas.getContext("2d");
        },
        canvasHeight() {
            return parseInt(window.innerHeight / 2)
        },
        canvasWidth() {
            return parseInt(window.innerWidth * .9)
        }
    },

    watch:{
        picture(){
            this.drawPictureBackground()
        },
        holds(){
            this.redraw()
        }
    },

    methods: {
        clickOnPicture: function (e) {
            if(!this.picture){return}

            const x = e.clientX - e.target.offsetLeft;
            const y = e.clientY - e.target.offsetTop;

            this.addNewHold({x,y})
        },

        addNewHold(position){
            this.holds = this.holds.concat({position})
        },

        removeHold(index){
            this.holds = this.holds.filter((hold,i) => index !== i)
        },

        highlightHold(index){
            this.holds.forEach((hold,i) => hold.highlight = index === i)
            this.redraw()
        },

        highlightNothing(){
            this.highlightHold(-1)
        },

        redraw(){
            this.drawPictureBackground()
            this.drawHolds()
        },

        drawPictureBackground(){
            this.context.clearRect(0,0, this.canvasWidth, this.canvasHeight);

            let scale = Math.max(
                this.picture.image.width / this.canvasWidth,
                this.picture.image.height / this.canvasHeight
            )

            this.context.drawImage(
                this.picture.image,
                (this.canvasWidth - this.picture.image.width / scale) /2,
                (this.canvasHeight - this.picture.image.height / scale) /2,
                this.picture.image.width / scale,
                this.picture.image.height / scale
            )
        },

        drawHolds(){
            const holdRadius = 20;
            const holdLineWidth = 3;
            const holdLineWidthHighlighted = 8;
            const colorStart = "#20f320";
            const colorHold = "#20d3f3";
            const colorFinish = "#f32094";
            const colorHand = "#000000";
            const colorFoot = "#ffce00"

            this.holds.forEach(hold => {
                // draw the hold
                this.context.beginPath();
                this.context.arc(hold.position.x, hold.position.y, holdRadius, 0, 2 * Math.PI, false);
                this.context.lineWidth = hold.highlight ? holdLineWidthHighlighted : holdLineWidth;
                this.context.strokeStyle = hold.start ? colorStart : hold.finish ? colorFinish : colorHold;
                this.context.stroke();

                // draw the properties
                if(hold.lefthand){
                    let x = (hold.position.x - ((holdRadius/2) / Math.PI*Math.PI)) - holdLineWidth
                    let y = (hold.position.y - ((holdRadius/2) / Math.PI*Math.PI)) - holdLineWidth

                    this.context.beginPath();
                    this.context.arc(x,y, 6, 0, 2 * Math.PI);
                    this.context.fillStyle = colorHand;
                    this.context.fill();
                }
                if(hold.righthand){
                    let x = (hold.position.x + ((holdRadius/2) / Math.PI*Math.PI)) + holdLineWidth
                    let y = (hold.position.y - ((holdRadius/2) / Math.PI*Math.PI)) - holdLineWidth

                    this.context.beginPath();
                    this.context.arc(x,y, 6, 0, 2 * Math.PI);
                    this.context.fillStyle = colorHand;
                    this.context.fill();
                }
                if(hold.leftfoot){
                    let x = (hold.position.x - ((holdRadius/2) / Math.PI*Math.PI)) - holdLineWidth
                    let y = (hold.position.y + ((holdRadius/2) / Math.PI*Math.PI)) + holdLineWidth

                    this.context.beginPath();
                    this.context.arc(x,y, 6, 0, 2 * Math.PI);
                    this.context.fillStyle = colorFoot;
                    this.context.fill();
                }
                if(hold.rightfoot){
                    let x = (hold.position.x + ((holdRadius/2) / Math.PI*Math.PI)) + holdLineWidth
                    let y = (hold.position.y + ((holdRadius/2) / Math.PI*Math.PI)) + holdLineWidth

                    this.context.beginPath();
                    this.context.arc(x,y, 6, 0, 2 * Math.PI);
                    this.context.fillStyle = colorFoot;
                    this.context.fill();
                }
            })
        },

        setHoldProperties(e){
            this.holds[e.target.attributes.getNamedItem("idx").value][e.target.name] = e.target.checked
            // force new array object for reaction
            this.holds = [].concat(this.holds)
        },

        downloadImageHref(e) {
            e.target.href = this.canvas.toDataURL('image/jpg')
        }
    }
}
</script>

<style scoped>
.holds{
    padding: 4pt;
}
.hold{

}
</style>