<template>
    <div>
        <div v-bind="getRootProps()"
             @click="open"
             style="border: #42b983 3px dashed"
        >
            <input v-bind="getInputProps()">
            <p v-if="isDragActive">Drop it here ...</p>
            <p v-else>Drag one picture, or click to select file</p>
        </div>
    </div>
</template>

<script>
import {useDropzone} from 'vue3-dropzone'
export default {
    name: "ImageDrop",

    emits: ['imageUpdated'],

    watch:{
        acceptedFiles(newFiles){
            if(newFiles[0]){
                let image = new Image()
                image.onload = () => {
                    this.$emit("imageUpdated", {
                        name: newFiles[0].name,
                        image
                    })
                }

                let reader = new FileReader()
                reader.onload = () => {
                    image.src = reader.result
                }
                reader.readAsDataURL(newFiles[0])
            }
        }
    },

    setup() {
        const { getRootProps, getInputProps, ...rest } = useDropzone({
            multiple: false
        })

        return {
            getRootProps,
            getInputProps,
            ...rest
        }
    }
}
</script>

<style scoped>

</style>